@media only screen and (min-width: 60em) {
  .menu {
    display: flex;
    flex-direction: row;
    background-color: #08183A;
  }

  .menu li {
    display: block;
    flex: 1;
    height: 35px;
    padding: 10px;
  }

  .menu li:first-child {
    display: none;
  }

  .menu a {
    font-size: 30px;
  }

  .menu li:hover {
    background-color: #152852;
    color: #FFFBE8;
  }

  main {
    max-width: 80%;
  }

  footer {
    max-width: 85%;
  }
  #wrapper {
    margin-top: 10px;
    padding: 2.5%;
}

.wrapper-forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.wrapper-forecast > .content:nth-child(even) {
    background-color: #FD5E53;
    color: #FFFBE8;
}

  .gallery-container {
    display: grid;
    padding: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }
}
