* {
font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: #4B3D60;
   color: #FFFBE8;

}

header {
  display: flex;
  background-color: #4B3D60;
  flex-direction: column;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
}

#title {
  flex: 1;
  text-align: center;
  margin: auto;
}

#title h1 {
  margin-bottom: 5px;
}

#title p {
  margin-bottom: 5px;
}

.menu {
  margin: 0px;
  padding: 0px;
}

nav {
  flex: 1;
  text-align: center;
}

.menu li {
  display: none;
}

.menu li:first-child {
  display: block;
  list-style-type: none;
  height: 30px;
  padding-top: 15px;
  font-size: 20px;
  background-color: #08183A;
   color: #FFFBE8;
}

.menu li:nth-child(odd) {
  background-color: #08183A;
}

.menu li:nth-child(even) {
  background-color: #152852;
}

.menu li:nth-child(odd):hover {
  background-color: #2e3f64;
}

.menu li:nth-child(even):hover {
  background-color: #2e3f64;
}

li:hover {
  background-color: #152852;
  color: #FFFBE8;
}

.responsive li {
  display: block;
  height: 60px;
  padding-top: 30px;
  font-size: 20px;
}

#logo {
  max-width: 200px;
  height: auto;
}

h2 {
  margin-left: 20px;
}
.link { 
   text-decoration: none;
   color: #FFFBE8;
}

.content {
  font-size: 25px;
  padding: 10px 0px 10px 20px;
  background-color: #FD5E53;
  border: solid;
   margin-bottom: 10px;
position: relative;
}

.content:nth-child(even) {
  background: #FC9C54;
   color: #08183A;
}

#wrapper {
   background-color: #152852;
   width: 85%;
  margin: auto;
}

.active {
  text-decoration: underline;
}
.background-img {
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

.weather-icon {
float: left;
  height: 55px;
  width: 55px;
}

.title {
  font-size: 32px;
}

.article-content {
  margin: 6px;
}

.daily-weather {
  position: absolute;
  top: 18%;
  left: 10%;
  height: auto;
  max-width: auto;
  background-color: #4b3d6098;
  padding: 20px;
  border-radius: 21%;
  color: #FFFBE8;
}
.daily-weather div p {
display: inline-block;
}


#contact-wrapper {
  display: flex;
  justify-content: space-around;
}

#contact p{
  font-size: 16px;
  margin-top: 8%;
}
#background-img-content {
  width: 33%;
  height: auto;
  margin-right: 6px;
}

footer {
  background-color: #FD5E53;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.gallery-container {
  display: block;
  margin: 0;
  background-color: #FFFBE8;
  text-align: center;
  width: 95%;
}

.gallery-container img[data-src] {
    filter: blur(0.8em);
}

.gallery-container img {
  filter: blur(0em);
  transition: filter 1.5s;
  width: 200px;
  margin-top: 5px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.gallery-container figure {
  margin: auto;
}

.gallery-container figure:hover {
  box-shadow: 0px 0px 50px #08183A;
}

.gallery-container figcaption{
  color: #08183A;
  padding: 5px 0px;
}

form {
    display: flex;
    flex-direction: column;
    clear: both;
    width: 85%;
    margin: auto;
}
form div {
    background-color: #08183A;
    margin-bottom: 2rem;
    color: #FFFBE8;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

form div > * {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

form input:not(.radio) {
  text-decoration: none;
  width: 95%;
  clear: both;
  margin-bottom: 1rem;
  background-color: #4b3d6098;
  color: #FFFBE8;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.radio {
  width: 50px;
}

form textarea {
    resize: none;
    width: 90%;
    margin-bottom: 0.5rem;
    width: 98%;
    height: 125px;
    box-sizing: border-box;
}

.submit {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.cards {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.cards section {
  margin: auto;
  margin-top: 5px;
  border: 3px solid #08183A;
  border-radius: 8px;
  background-color: #FD5E53;
}

.cards section img {
  border-radius: 8px;
  width: 80%;
  height: auto;
  padding: 5px;
  filter: blur(0em);
  transition: filter 1s;
}

  h1 {
    font-size: 2.5em;
    margin-top: 0px;
  }

  h2 {
    font-size: 1.8em;
  }

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}

#wire {
  margin-left: 10px;
  color: #FC9C54;
}

p {
  padding-top: 6px;
  margin: auto;
}