* {
   padding: 5px;
   margin-left: 5px;   
}
body{
   display: flex;
   flex-direction: column;
   justify-content: center; 
}

img {
   width: 20%;
   border-style: solid;
   border-color: #36413e;
   padding: 0;
}



header {
   display: flex;
   align-items: center;
   justify-content: center;
}

footer {
   display: flex;
   align-items: center;
   justify-content: center;
}

main {
   background-color: #f6e8ea;
   margin-left: 2.5%;
   margin-right: 2.5%;
   width: 95%;
   height: 70%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   border-style: solid;
   border-color: #36413e;
}