
body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: 
  linear-gradient(to bottom,#eadeb8d0 55%, #cfb784a3),  
  url('../images/background.jpg');
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}


header {
  box-sizing: border-box;
  color: #EADEB8;
  display: flex;
  width: 100%;
  background: #C56824;
  padding: 1.5rem;
  justify-content: space-evenly;
}

header > div {
  height: 90%;
}
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
}

#title h1 {
  font-size: 38px;
  margin-bottom: 42px;

}

#title p {
  text-align: center;
}


.menu {
  margin: 0px;
  padding: 0px;
}

nav {
  flex: 1;
  text-align: center;
}

a {
   color: #EADEB8;
}

.menu li {
  display: none;

}

.menu li:first-child {
  display: block;
  list-style-type: none;
  height: 30px;
  padding-top: 15px;
  font-size: 20px;
  background-color: #3b4a26;
   color: #EADEB8;
}

.menu li:nth-child(odd) {
  background-color: #3b4a26;
}

.menu li:nth-child(even) {
  background-color: #536837;
}

.menu li:hover {
  background-color: #A09F57;
}

.main-content {
  width: 100%;
  text-align: center;
  color: #1c2115;
  margin: 7px;
}

.main-content > h1 {
  font-size: 32px;
  color: #1c2115;
  margin-bottom: 15px;
}

.main-content a {
  color: #3b4a26;
}

.content {
  width: 80%;
  height: 80%;
  display: block;
  font-size: 25px;
  padding: 10px 0px 10px 10px;
  background-color: #536837;
  border: solid;
  color: #1c2115;
  border-color:#3b4a26;
  margin: 1.5rem;
}

.section-name {
  text-align: center;
  font-size: 42px;
  color: #1c2115;
}

.content h2 {
  text-align: center;
}
.content div {
  font-size: 19px;
  letter-spacing: 1px;
  width: 88%;
  position: relative;
  margin: -33% 0rem 2rem 0;
  padding: 1rem;
  border: solid;
  border-color:#C56824;
  background-color: #eadeb890;
  overflow-wrap: break-word;
}

.business-img {
  width: 90%;
  height: 90%;
  margin: auto;
}

.content a {
  color: #3b4a26;
}


.responsive li {
  display: block;
  height: 20px;
  padding: 10px;
  font-size: 20px;
}

#background {
position: absolute;
  top: 10%;
  width: 100%;
}

#large-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 11px;
}

.forecast div{
  display: flex;
  flex-direction: column-reverse;
  padding: .5rem;
}

.forecast div img{
  max-width: 50%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
padding: 5px;
display: flex;
justify-content: space-between;
}

input {
background-color: #EADEB8;
text-decoration: none;
border: 1px solid #3b4a26;
border-radius: 4px;
width: 33%;
}

textarea {
background-color: #EADEB8;
}

#submit {
  background-color: #3b4a26; /* Green */
  border: none;
  color: #EADEB8;
  margin-top: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
}

button {
  background-color: #3b4a26; /* Green */
  border: none;
  color: #EADEB8;
  margin-top: 5px;
  padding: 15px 32px;
  text-align: center;
  font-size: 32px;
}

#key {
  display: flex;
  justify-content: space-evenly;
  color: #1c2115;
  margin: 3px;
  font-size: 9px;
}

label {
  font-size: 20px;
}


main > div > h2 {
  width: 80%;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin: auto;
  color: #1c2115;
}

.content.contact {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.link.active {
  color: #b3a98b
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.content.contact iframe {
  width: 70%;
  margin-top: 10px;
}


.cards.grid {
  color: #1c2115;
  width: 90%;
  display: inline-grid;
  grid-template-rows:   23% 23% 23%;
  grid-template-columns: 23% 23% 23%;
  gap: 1.2rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.cards.grid p{
  display: none;

}

.cards.grid section{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100%;
  overflow-wrap: break-word;
}

.cards.grid section img{
  width: 100%;
}

.cards section {
  margin: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  overflow-wrap: break-word;

}

.cards section .link {
  display: block;
  color: #3b4a26;
  font-size: 1em;
  margin: 1rem;
}

.cards section p {
  margin: 1rem;
  color: #1c2115;
  font-size: 1em;
  overflow-wrap: break-word;
}

.cards section img {
  width: 60%;
}


.cards.grid section .link {
  display: none;
  color: #3b4a26;
}

#logo {
  width: 80px;
  height: 80px;
}



footer {
  background: #A09F57;
  font-size: 14px;
  text-align: center;
  color: #1c2115;
  margin: auto;
  padding: 1rem;
}
